[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Search And Replace
Comment=Search and replace text sequences in one or more files.
Exec=/media/syndicate/storage/Documents/dev/go/src/github.com/hfmrow/sAndReplace/sAndReplace
Icon=find-multiple-documents-48x48
#Path=
Categories=Utility;TextTools;TextEditor;
#MimeType=
Terminal=false
StartupNotify=false
#Url=
NoDisplay=false